[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
requests = "*"
requests-html = "*"
redis = "*"
python-slugify = "*"
flask = "*"
psycopg2-binary = "*"
sqlalchemy = "*"

[requires]
python_version = "3.7"
